# Data Science Tools & Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**

* List of popular languages used in Data Science
* Common libraries used in Data Science
* Popular tools used in Data Science
* Examples of using Python to solve simple Arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the common libraries that Data Scientists include:
1. Data Manipulation & Analysis
    * NumPy - for numerical computing and array operations
    * Pandas - for structured data
2. Data visualisation
    * Matplotlib - Basic plots (line, bar, scatter)
    * Seaborn - To augment Matplotlib
    * Plotly - Interactive visualisations for web dashboards
3. Machine Learning
    * Scikit Learn
    * TensorFlow
    * PyTorch

|  Data Science Tools   |
|-----------------------|
| Jupyter Notebook / Lab|
|  R Studio             | 
|  VS Code              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is a simple arithmetic expression to multiply, then add, integers

(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by dividing it by 60

minutes = 200
hours = minutes/60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

## Author
Prasad Rao